<div class="row justify-content-center">
  <div class="col-12 text-center" *ngIf="loading.isEmpty && loading.loaded">
    <p>No data found.</p>
  </div>

  <!-- Skeleton loading cards -->
  <div class="col-12" *ngIf="loading.isEmpty === false && loading.loaded === false">

    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-3" *ngFor="let skeleton of skeletons">
        <div class="card h-100 mx-2">
          <div class="item">
            <ngx-skeleton-loader count="1" [theme]="{ 
                'border-radius': '5px',
                height: '175px',
                border: '1px solid white'
              }"></ngx-skeleton-loader>
          </div>
          <div class="card-body">
            <div class="item">
              <ngx-skeleton-loader count="2" appearance="line"></ngx-skeleton-loader>
            </div>
            <div class="row">
              <div class="col-6 d-grid gap-0">
                <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
              </div>
              <div class="col-6 d-grid gap-0">
                <div class="item">
                  <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Cards -->
  <div class="col-12" *ngIf="loading.isEmpty === false && loading.loaded">

    <div class="row my-5 justify-content-center">
      <div class="col-12 col-md-6 text-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>

    <div class="row my-5 justify-content-start">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-3" *ngFor="let meal of meals | paginate: { itemsPerPage: 8, currentPage: page, totalItems: meals.length }">
        <div class="card h-100 mx-2">

          <img [src]="meal?.thumb" class="card-img-top" [alt]="meal?.name">
          <div class="card-body">
            <h4 class="card-title fw-bold">{{ meal?.name }}</h4>
            <h6 class="fw-normal">{{ meal?.category }}</h6>
            <div class="row">
              <div class="col-6 d-grid gap-0">
                <button class="btn btn-primary" (click)="setMeal(meal)" data-bs-toggle="modal" data-bs-target="#modalMealDetails">Details</button>
              </div>
              <div class="col-6 d-grid gap-0">
                <a class="btn btn-outline-danger" *ngIf="meal.youtube !== null" [href]="meal.youtube" target="_blank">Youtube</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row my-5 justify-content-center">
      <div class="col-12 col-md-6 text-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>

  </div>
</div>

<app-meal-details [meal]="meal"></app-meal-details>